<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Home</title>
</head>
<body>
    {% block content %}
    <form action="/User/">
        <h1> Product</h1>
            mobile <input type="text" name="mobile"/> <br><br>
            Keyboard <input type="text" name="Keyboard"/> <br><br>
            monitor <input type="text" name="monitor"/> <br><br>
            submit <input type="submit" name="submit"/>
    </form>
    {% endblock %}
</body>
</html>